{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>작성 또는 검색</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/choose3.css' %}">

    <!-- 구글폰트 적용 (fonts.google.com) - Nanum Gothic, Italianno-->
    <!-- 괜찮은 글꼴 리스트 : great vibes / cookie / parisienne / Italianno / Niconne / Suranna / Playball / Charm / Petit Formal Script -->
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Nanum+Gothic:wght@400;700;800&display=swap"
        rel="stylesheet">
    <!-- FontAwesome 아이콘 적용 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    <div class="title">
        perfume
    </div>

    <div id="list">
        <!-- 게시글 작성 -->
        <div class="choice">
            <a class="either" href="{% url 'post' %}">게시글 작성
                <p>정보를 공유하고 싶다면?</p>
            </a>
        </div>

        <!-- 게시글 검색 -->
        <div class="choice">
            <a class="either" href="{% url 'home'%}">게시글 검색
                <p>정보를 얻고 싶다면?</p>
            </a>
        </div>
    </div>


    <div>
        <a class="back-btn" href="{% url 'choose_atm' %}">
            <span class="fas fa-arrow-left">&nbsp;&nbsp;&nbsp;뒤로가기</span>
        </a>
    </div>
</body>


</html>