<!-- 지역 선택 페이지 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfume_chooser</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- FontAwesome 아이콘 적용 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <style>
        div {
            text-align: center;
        }

        a {
            text-decoration: none
        }
    </style>

</head>

<body>
    <div class="title">
        Perfume
    </div>
    {% if user.is_authenticated %}

    <form action="{% url 'logout' %}" method="POST" id="logout">
        {% csrf_token %} <input type="hidden">
    </form>
    <div class="hello" style="text-align: center;">
        {{ user.name }}님 환영합니다.

        <a href="javascript:{document.getElementById('logout').submit()}" class="out">[로그아웃]</a>

    </div>
    {% endif %}
    <div class="subtitle">
        어디로 놀러가시나요?
    </div>

    <div class="choose_circle">
        <a href="{% url 'choose_atm' %}"><img src="{% static 'image/choose_circle.PNG'%}"> </a>
        <a href="{% url 'choose_atm' %}"><img src="{% static 'image/choose_circle.PNG'%}"> </a>
        <a href="{% url 'choose_atm' %}"><img src="{% static 'image/choose_circle.PNG'%}"> </a>
        <p class="region">
            <a href="{% url 'choose_atm' %}">서울</a>
            <a href="{% url 'choose_atm' %}">인천 </a>
            <a href="{% url 'choose_atm' %}">천안</a>
        </p>
    </div>

    <div class="choose_circle2">
        <a href="{% url 'choose_atm' %}"><img src="{% static 'image/choose_circle.PNG'%}"> </a>
        <a href="{% url 'choose_atm' %}"><img src="{% static 'image/choose_circle.PNG'%}"> </a>
        <a href="{% url 'choose_atm' %}"><img src="{% static 'image/choose_circle.PNG'%}"> </a>
        <p class="region"><a href="{% url 'choose_atm' %}">대전</a><a href="{% url 'choose_atm' %}"> 부산 </a> <a
                href="{% url 'choose_atm' %}">제주도</a></p>
    </div>

    <!-- 뒤로가기 버튼 -->
    <div>
        <a class="back-btn" href="{% url 'home' %}">
            <span class="fas fa-arrow-left">&nbsp;&nbsp;&nbsp;뒤로가기</span>
        </a>
    </div>
</body>

</html>