<!-- 로그인 성공메세지 나오는 페이지 -->
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% if user.is_authenticated %}
<a id="logo" href="{% url 'home' %}" style="text-decoration : none;">
  <h1 id="title"><em>perfume</em></h1>
</a>
<h6 id="sub">Leave perfume where you're staying</h6>
<script>
  alert('로그인 성공하셨습니다.');
</script>

<div class="re">
  {{ user.name }}님 환영합니다.
</div>
<div class="re">
  <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
</div>
<form action="{% url 'logout' %}" method="POST" id="logout">
  {% csrf_token %} <input type="hidden">
</form>
<div class="re">
  <a href="{% url 'home'%}" style="text-align:center;">홈으로</a>
</div>
{% else %}
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <!-- 메인 상위 로고 이미지   -->
  <a id="logo" href="{% url 'home' %}" style="text-decoration : none;">
    <h1 id="title"><em>perfume</em></h1>
  </a>
  <h6 id="sub">Leave perfume where you're staying</h6>
</head>
<br>

<body>
  <!-- 좌측 중앙 이미지   -->
  <span class="body_picture">
    <img src="{% static 'image/perfume_and_nation.png' %}" width=550 height=420 alt="perfume_and_nation.png">
  </span>
  <!--  우측 입력 폼    -->
  <span class="all_form">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form">
        ID
        <br>
        <input name="email" type="text" id="email" placeholder="이메일을 입력하세요.    ex) 젊은@likelion.org">
        <br>
        PASSWORD
        <br>
        <input name="password" type="password" id="email" placeholder="비밀번호를 입력하세요.">
        <br>
        <input type="submit" class="login_btn" value="로그인">
      </div>
    </form>
    <br>
  </span>
</body>
<footer>
  <!--  하단 footer    -->
  <div class="sign_footer">
    <p class="sign-footer-right-item">아직 perfume 회원이 아니시라면?</p>
    &nbsp&nbsp&nbsp
    <a href="{% url 'signup' %}" class="sign-footer-right-item  right-item-hover"><u>회원가입</u></u></a>
  </div>
  <div class="under-bar">
    <a href="{% url 'introduce' %}" class="sign-footer-left-item"><u>소개</u></a>
    &nbsp&nbsp&nbsp
    <a href="{% url 'policy' %}" class="sign-footer-left-item"><u>이용약관</u></a>
  </div>
</footer>

</html>

{% endif %}