{% load static %}

<!DOCTYPE html>
<html>
    <head> 
       <meta charset="UTF-8">
       <title>Post</title>
       <link rel="stylesheet" href="{% static 'css/post.css' %}">
    </head>
    <body>
        <a id="logo" href="{% url 'home' %}" style="text-decoration : none;">
            <h1 id="logo"><em>perfume</em></h1>
        </a>
        <h6 id="sub">Leave perfume where you're staying</h6>
        <form action="" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="input-element">
                <div>
                    <!--이미지 삽입창-->
                    <label style="color:#934BF1; font-weight:700;">이미지</label><br>
                    <input type="file" name="image" id="image" required>
                </div>
                <div>
                    <!--지역입력창-->
                    <label style="color:#934BF1; font-weight:700;">지역</label><br>
                    <input type="text" name="address" placeholder="지역을 입력하세요. Ex) 수원시 영통구" id="address" required>
                </div>
                <div>
                    <!--분위기입력창-->
                    <label style="color:#934BF1; font-weight:700;">분위기</label><br>
                    <input type="text" name="atm" placeholder="분위기를 입력하세요. Ex) 잔잔한" id="atm" required>
                </div>
                <div>
                    <label style="color:#934BF1; font-weight:700;">이름</label><br>
                    <input type= "text" id="name" placeholder="이름을 입력해주세요" name = "name" required>
                </div>
                <div>
                    <!--제목 입력창-->
                    <label style="color:#934BF1; font-weight:700;">제목</label><br>
                    <input type="text" name="title" placeholder="글의 제목을 입력해주세요" id="title"  required>
                </div>
                <div>
                    <!--내용 입력창-->
                    <label style="color:#934BF1; font-weight:700;">내용</label><br>
                    <textarea id = "body" name = "body" cols="40" rows="10" required></textarea>
                </div>
                <button type ="submit"  id="post-btn">등록</button> 
    </body>
</html>