.title {
    color: #934BF1;
    font-family: Georgia;
    font-size: 500%;
    font-style: italic;
    text-align: center;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
}

.re {
    text-align: center;
}

.hello {
    margin-top: 10px;
    font-family: Bold;
    font-size: 100%;
}

.out {
    color: #AB9CBE;
}

.out:hover {
    color: black;
}

.subtitle {
    color: #AB9CBE;
    font-family: Bold;
    font-size: 130%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.choose_circle {
    width: 300px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.choose_circle2 {
    margin-top: 30px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.region {
    color: #A087C2;
    word-spacing: 50px;
}

.region2 {
    color: #A087C2;
    word-spacing: 50px;
}