{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>게시글 작성 또는 검색</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/choose3.css' %}">
</head>

<body>


    <div id="list">
        <div class="title">
            <h1>perfume</h1>
        </div>
        <div class="choice sub1">
            <a href="">
                <h1>게시글 작성</h1>
            </a>
            <h3>정보를 공유하고 싶다면?</h3>
        </div>
        <div class="choice sub2">
            <a href="">
                <h1>게시글 검색</h1>
            </a>
            <h3>정보를 얻고 싶다면?</h3>
        </div>
    </div>
    <div>
        <button type="submit" class="btn_box">뒤로가기</button>
    </div>

</body>

</html>