{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>작성 또는 검색</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/choose3.css' %}">

    <!-- 구글폰트 적용 (fonts.google.com) - Nanum Gothic, Italianno-->
    <!-- 괜찮은 글꼴 리스트 : great vibes / cookie / parisienne / Italianno / Niconne / Suranna / Playball / Charm / Petit Formal Script -->
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Nanum+Gothic:wght@400;700;800&display=swap"
        rel="stylesheet">
    <!-- FontAwesome 아이콘 적용 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    <div class="title">
        <h1 id="logo">perfume</h1>
    </div>

    <div id="list">

        <div class="choice">
            <a href="">
                <h1 class="either">게시글 작성</h1>
            </a>
            <h3>정보를 공유하고 싶다면?</h3>
        </div>

        <div class="choice">
            <a href="">
                <h1 class="either">게시글 검색</h1>
            </a>
            <h3>정보를 얻고 싶다면?</h3>
        </div>

    </div>

    <div>
        <a class="back-btn" href="">
            <span class="fas fa-arrow-left"></span>뒤로가기
        </a>
    </div>
</body>


</html>