<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav class="nav-container">

        <div class="nav-div1">
            <span class="nav-title">Perfume</span>
        </div>

        <div class="nav-div2">
            <img class="nav-item" src="{% static 'css/img/sharp_search_white_18dp.png'%}">
            <img class="nav-item" src="{% static 'css/img/sharp_mail_outline_white_18dp.png'%}">
            <img class="nav-item" src="{% static 'css/img/baseline_person_white_18dp.png'%}">
            <span class="nav-   ">게시글 작성</span>
            <img class="nav-item" src="{% static 'css/img/sharp_subject_white_18dp.png'%}">

        </div>
    </nav>

    {% for blog in blogs.all%}
    <h1>{{blog.title}}</h1>
    <p>{{blog.name}}</p>
    <p>{{blog.pub_date}}</p>
    <p>{{blog.body}}</p>
    <br><br>

{%endfor%}    
</body>
</html>

