<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style type="text/css"> 
        a { text-decoration:none } 
    </style> 
</head>
<body>
    <nav class="nav-container">

        <div class="nav-div1">
            <a href="{% url 'choose' %}"><span class="nav-title">Perfume</span></a>
        </div>

        <div class="nav-div2">
            <span class="nav-">게시글 작성</span>
        </div>
    </nav>

    
    {% for blog in blogs.all %}
    <div class ="user">
        <div class="name"><image src="{% static 'css/img/person.png'%}">{{blog.name}}</div>    
        <div class="address">address : {{blog.address}}</div>
        <p>{{blog.pub_date}}uploaded</p>
        <h3 class="title">title : {{blog.title}}</h3>
        <img class="profile" alt="이미지" src="{{ blog.image.url }}">
        <p>{{blog.body}}</p>
        <br><br>
    </div>

{%endfor%}    
</body>
</html>

