{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 검색</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>

<body>
    <!-- navbar -->
    <nav class="nav-container">
        <div class="nav-div1">
            <span class="nav-title">Perfume</span>
        </div>
        <div class="nav-div2">
            <img class="nav-item" alt="검색" src="{% static 'images/sharp_search_white_18dp.png' %}">
            <img class="nav-item" alt="메세지함" src="{% static 'images/sharp_mail_outline_white_18dp.png' %}">
            <img class="nav-item" alt="내 프로필" src="{% static 'images/baseline_person_white_18dp.png' %}">
            <span class="nav-item">게시글 작성</span>
            <img class="nav-item" src="{% static 'images/sharp_subject_white_18dp.png' %}">
        </div>
    </nav>

    <!-- 사용자가 선택한 옵션 - 지역, 분위기 -->
    <div class="choose">
        <span class="local">천안시, 두정동, 조용한</span>
        <img class="lo-info-item" alt="위치 on/off" src="{% static 'images/location_onoff_18dp.png' %}">
        <span class="lo-info">위치정보</span>
    </div>

    <!-- 사용자 프로필 -->
    <div class="profile">
        <img class="profile-item" alt="내 프로필 사진" src="{% static 'images/baseline_person_purple&pink.png' %}">
        <h3 class="profile-name">김원석</h3>
    </div>

    <!-- 카테고리 -->
    <div class="category">
        <a class="cate-item " href="">전체보기</a>
        <p id="l">|</p>
        <a class="cate-item" href="" style="color:#934BF1">식당</a>
        <a class="cate-item" href="">카페</a>
        <a class="cate-item" href="">숙소</a>
        <a class="cate-item" href="">관광지</a>
        <a class="cate-item" href="">기타</a>
    </div>
    <!-- <img class="post-locator" alt="포스팅 지도 확인" src="{% static 'images/locator.png' %}"> -->

</body>

</html>