* {
    box-sizing: border-box;
    background-color: #934BF1;
}

body {
    margin: 0;
}

/* 로고 */
.title {
    margin-top: 80px;
}

#logo {
    font-family: 'Italianno', cursive;
    font-size: 80px;
    font-weight: normal;
    margin: 0;
}


/* 내용 */
.list {
    display: table;
    table-layout: fixed;
}

.choice {
    display: table-cell;
    /* 가운데 정렬 - 넓이 반드시 지정 */
    vertical-align: middle;
    height: 400px;
    width: 1100px;
    margin: 0 auto;
    /* 두께 400, 700, 800 사용가능*/
    font-weight: 400;
    font-family: 'Nanum Gothic', sans-serif;
}


h1,
h3,
div {
    color: white;
    text-align: center;
}

h3 {
    font-size: 22px;
}

a:hover,
.either:hover {
    color: black;
}

/* 게시글 작성, 게시글 검색 */
.either {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    padding: 60px 60px 120px 60px;
    border-radius: 15px;
    box-sizing: border-box;
}


/* 뒤로가기 */
.back-btn {
    position: fixed;
    left: 50px;
    bottom: 40px;
    color: #f1dbfa;
    font-size: 25px;
    /* 두께 400, 700, 800 사용가능*/
    font-weight: 400;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.fas {
    margin-right: 10px;
}