* {
    box-sizing: border-box;
    background-color: #934BF1;
}

body {
    margin: 0;
}

/* 로고 */
.title {
    margin-top: 80px;
}

#logo {
    font-family: 'Italianno', cursive;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}


/* 내용 */
.list {
    display: table;
    table-layout: fixed;
}

.choice {
    display: table-cell;
    /* 가운데 정렬 - 넓이 반드시 지정 */
    vertical-align: middle;
    height: 400px;
    width: 1100px;
    margin: 0 auto;
}

h1,
h3,
div {
    color: white;
    text-align: center;

}

/* 게시글 작성, 게시글 검색 */
.either {
    display: inline-block;
}

a {
    text-decoration: none;
}

/* 뒤로가기 */
button {
    position: fixed;
    left: 50px;
    bottom: 40px;
    color: white;
    border: none;
    font-size: 25px;
    text-decoration: none;
    /* cursor: pointer; */
}

.fas {
    margin-right: 10px;
    color: white;
}